<div class="nav"> 
  <div class="left">
    <h3>Eleplant - Never Forget Your Plants Again! </h3> 
  </div>

  <div class="right">
    <a href="/plants">My Plants</a> | <a href="/wishlist">My Wishlist</a> | <a href="/logout">Logout</a>
  </div>
</div>

<div class="body"> 
  <h3> <%= @current_user.username %>'s plants</h3>
  <ul>
    <% @current_user.plants.each do |plant| %>
      <li> <a href="/plants/<%= plant.id %>"> <%= plant.name %> </a></li>
    <% end %>
  </ul> <br>
  <button type="submit" onclick="window.location.href = '/wishlist/new';">Add a Plant</button>
</div>

<div class="sidebar"> 
  <h3> Change Plant Information: </h3>

  <form method="post" action="/plants/<%=@plant.id%>">
    <input id="hidden" type="hidden" name="_method" value="PATCH">
    <p>Plant Name: <input type="text" name="name" value="<%= @plant.name %>" required></p>
    <p>Light: <input type="text" name="light" value="<%= @plant.light %>"></p>
    <p>Water: <input type="text" name="water" value="<%= @plant.water %>"></p>
    <p>Last Date Watered: <input type="date" name="last_date" value="<%= @plant.last_date %>" ></p>
    <button type="submit">Submit Change</button>
  </form>
</div>
