<!-- add logout option at the bottom of every page-->
<!-- form to edit plant -->
<!-- add option to delete plant-->

<div class="nav"> 
  <div class="left">
    <h3>Eleplant - Never Forget Your Plants Again! </h3> 
  </div>

  <div class="right">
    <h3><a href="/plants">My Plants</a> <a href="/wishlist">My Wishlist</a> </h3>
  </div>
</div>

<div class="body"> 
  <h3> Change Plant Information: </h3>

  <form method="post" action="/plants/<%=@plant.id%>">
    <input id="hidden" type="hidden" name="_method" value="PATCH">
    <p>Plant Name: <input type="text" name="name" value="<%= @plant.name %>" required></p>
    <p>Light: <input type="text" name="light" value="<%= @plant.light %>"></p>
    <p>Water: <input type="text" name="water" value="<%= @plant.water %>"></p>
    <p>Last Date Watered: <input type="date" name="last_date" value="<%= @plant.last_date %>" ></p>
    <button type="submit">Submit Change</button>
  </form> <br>
</div>

<div class="sidebar"> 
<h5> Here is the sidebar content. </h5>
<p>Content!!</p>
</div>
