<div class="nav"> 
    <a href="/plants">My Plants</a> | <a href="/wishlist">My Wishlist</a> | <a href="/logout">Logout</a>
</div>

<div class="body"> 
  <h3> <%= @current_user.username %>'s plants</h3>
    <% @current_user.plants.each do |plant| %>
      <ul>
        <li> &#9788; <a href="/plants/<%= plant.id %>"> <%= plant.name %> </a></li>
      </ul>
    <% end %>
      <br>
  <button type="submit" onclick="window.location.href='/wishlist/new';">Add a Plant</button>
</div>

<div class="sidebar"> 
  <h3> Change Plant Information: </h3>

  <form method="post" action="/plants/<%=@plant.id%>">
    <input id="hidden" type="hidden" name="_method" value="PATCH">
    <p>Plant Name: </p> <input type="text" name="name" value="<%= @plant.name %>" required>
    <p>Light: </p><input type="text" name="light" value="<%= @plant.light %>">
    <p>Water: </p><input type="text" name="water" value="<%= @plant.water %>">
    <p>Last Date Watered: </p><input type="date" name="last_date" value="<%= @plant.last_date %>">
    <button type="submit">Submit Change</button>
  </form>
</div>