<!-- add logout option at the bottom of every page-->
<!-- show information for a single plant -->
<!-- add edit/delete buttons-->

<div class="container">
  <header><img src="../images/monstera.jpeg" class="header"></header>
  <div class="col-md-8 col-md-offset-2">
    <h2>Eleplant - Never Forget Your Plants Again!</h2>

    <div class="content">
      <h3><%= @plant.name %></h3>
      <p>Light Requirements: <%= @plant.light %></p>
      <p>Water Requirements: <%= @plant.water %></p>
      <p>Date Last Watered: <%= @plant.last_date %></p> 

      <form method="post" action="/plants/<%=@plant.id%>">
        <input id="hidden" type="hidden" name="_method" value="DELETE">
        <button type="submit">My Plant Died.</button>
      </form> <br>
      <button type="submit" onclick="window.location.href = '/plants/<%=@plant.id%>/edit';">Edit Plant</button> <br>

      <a href="/plants">Back to your plants</a> 
    </div>

    <div class="sidebar">
      <img src="../images/plants.jpg" class="side">
    </div>

  </div>
</div>