<div class="nav"> 
    <a href="/wishlist">My Wishlist</a> | <a href="/logout">Logout</a>
</div>

<div class="body"> 
    <h4><%= @current_user.username %>'s Plants</h4>
    <p>Choose a plant to see more information!</p>
    <ul>
      <% @current_user.plants.each do |plant| %>
        <li>&#9788; <a href="/plants/<%= plant.id%>"> <%= plant.name %></a></li>
      <% end %>    
    </ul> <br>
    <button type="submit" onclick="window.location.href = '/plants/new';">Add a Plant</button>
</div>

<div class="sidebar"> 
    <h3><%= @plant.name %></h3>
      <div class="side-info">
      <p><strong>Light Requirements:</strong> <%= @plant.light %></p>
      <p><strong>Water Requirements:</strong> <%= @plant.water %></p>
      <p><strong>Date Last Watered:</strong> <%= @plant.last_date %></p> 

    <div class="button-left">
      <form method="post" action="/plants/<%=@plant.id%>">
        <input id="hidden" type="hidden" name="_method" value="DELETE">
       <button type="submit">Delete Plant</button>
      </form>
    </div>

    <div class="button-right">
      <button type="submit" onclick="window.location.href = '/plants/<%=@plant.id%>/edit';">Edit Plant</button>
    </div>
  </div>
</div>