<div class="nav"> 
    <a href="/plants">My Plants</a> | <a href="/wishlist">My Wishlist</a> | <a href="/logout">Logout</a>
</div>

<div class="body"> 
  <ul>
    <% @current_user.wishlist.each do |item| %>
      <li> &#9788; <a href="/wishlist/<%=item.id%>"> <%= item.item_name %> </a></li>
    <% end %>
  </ul> <br>
    <button type="submit" onclick="window.location.href = '/wishlist/new';">Add a Plant</button>
</div>

<div class="sidebar"> 
  <h3><%= @item.item_name %></h3>
    <div class="button-left">
      <form method="post" action="/wishlist/<%=@item.id%>">
        <input id="hidden" type="hidden" name="_method" value="DELETE">
        <button type="submit">Remove From Wishlist</button>
      </form>
    </div>
  <div class="button-right">
    <form method="post" action="/wishlist-create/<%=@item.id%>">
      <input id="hidden" type="hidden" name="_method" value="DELETE">
      <button type="submit">Add to My Plants</button>
    </form>
  </div>
</div>